.tes {
  border: 1px solid white;
}

body {
  background-color: #000;
  font-family: Product Sans;
  color: #f9f6ff;
}

.kartu {
  width: 500px;
  height: 550px;
}

.card {
  border-radius: 30px;
  background-color: #f6f6f6;
}

.card img {
  padding-top: 10%;
}

.card-title {
  color: #000;
}

.card-text {
  color: #000;
}

.harga {
  margin-top: 30px;
}

.btn-detail {
  background-color: #ff6a90;
  font-size: 24px;
  border-radius: 30px;
  margin-top: 10px;
  float: right;
  width: 120px;
}

.btn-detail:hover {
  color: #f9f6ff;
  text-decoration: none;
}
